<section>
    <article>
                <div>
                    <div>   
                        <div class="container-fluid">
                         
                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <p class="align-text text-color">Lista de tareas de Guillermo Tomas Cesario Provenzano</p>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="separation">
                                            <input type="text" class="form-control item" placeholder="Escribe una tarea"/> <button class="btn btn-primary" type="button"><strong>ADD</strong></button> 
                                        </div>
                                    </div>
                                    <div class="table">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td><strong>Completado</strong></td>
                                                    <td><strong>Descripción</strong></td>
                                                    <td><strong>Acción</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><div class=""></div><input class="checked" type="checkbox"></td>
                                                    <td>Task N</td>
                                                    <td><button class="btn btn-secundary"><img class="me-2" src="https://1.bp.blogspot.com/--0Bwbr91mg4/U8fham7UNpI/AAAAAAAABvw/UaWaCLhDFes/s1600/Delete_Icon.png"></button></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="checkbox"></td>
                                                    <td>Task N 1</td>
                                                    <td><button class="btn btn-secundary"><img class="rounded-circle me-2"  src="https://1.bp.blogspot.com/--0Bwbr91mg4/U8fham7UNpI/AAAAAAAABvw/UaWaCLhDFes/s1600/Delete_Icon.png"></button></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="checkbox"></td>
                                                    <td class="strikethrough">Completed Task N 2</td>
                                                    <td><button class="btn btn-secundary"><img class="rounded-circle me-2"  src="https://1.bp.blogspot.com/--0Bwbr91mg4/U8fham7UNpI/AAAAAAAABvw/UaWaCLhDFes/s1600/Delete_Icon.png"></button></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="checkbox"></td>
                                                    <td>Task K</td>
                                                    <td><button class="btn btn-secundary"><img class="rounded-circle me-2"  src="https://1.bp.blogspot.com/--0Bwbr91mg4/U8fham7UNpI/AAAAAAAABvw/UaWaCLhDFes/s1600/Delete_Icon.png"></button></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="checkbox"></td>
                                                    <td >Task 2</td>
                                                    <td><button class="btn btn-secundary"><img class="rounded-circle me-2"  src="https://1.bp.blogspot.com/--0Bwbr91mg4/U8fham7UNpI/AAAAAAAABvw/UaWaCLhDFes/s1600/Delete_Icon.png"></button></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="checkbox"></td>
                                                    <td class="strikethrough">Completed Task 1</td>
                                                    <td><button class="btn btn-secundary"><img class="rounded-circle me-2"  src="https://1.bp.blogspot.com/--0Bwbr91mg4/U8fham7UNpI/AAAAAAAABvw/UaWaCLhDFes/s1600/Delete_Icon.png"></button></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td><strong>Completado</strong></td>
                                                    <td><strong>Descripción</strong></td>
                                                    <td><strong>Acción</strong></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="sticky-footer">
                        <div class="container">
                            <div class="text-center copyright"><span><strong>Lamansys © 2022</strong></span></div>
                        </div>
                    </footer>
                </div>
    </article>
</section>